In [36]:
import requests
import json
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from scipy import stats
import cenpy as cen

In [44]:

url = f"https://api.census.gov/data/2018/acs/acs5/profile?get=group(DP03)&for=state:{state_code}"

state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}

states = list(state_codes.values())

# d = "ACS%205-Year%20Estimates%20Data%20Profiles"
# table = "DP03"
# tid = "ACSDP5Y2018.DP03"
# summary_level_code_state = "040"
# summary_level_code_county = "050"
# state_code = "1"
# county_code = "1"
# state = f"0{summary_level_code_state}0000US0{state_code}"
# county = f"0{summary_level_code_county}0000US0{state_code}00{county_code}"
# g = f"{state}_{county}"

response_list = []

# for state_code in states:
state_code = "01"
r = requests.get(url)
response = requests.get(url)
data = response.json()
index = data[0]
value = data[1]

df_dict = {'Index':index,'Value':value}

df = pd.DataFrame(df_dict)
df

             Index        Value
0           GEO_ID  0400000US01
1       DP03_0001E      3894696
2       DP03_0001M         1458
3      DP03_0001PE      3894696
4      DP03_0001PM   -888888888
...            ...          ...
1094   DP03_0137MA          (X)
1095   DP03_0137EA          (X)
1096  DP03_0137PEA         None
1097  DP03_0137PMA         None
1098         state           01

[1099 rows x 2 columns]

In [15]:
state_county = pd.read_csv("all-geocodes-v2017.csv")
state_county

state_county.columns

Index(['Summary Level', 'State Code (FIPS)', 'County Code (FIPS)',
       'County Subdivision Code (FIPS)', 'Place Code (FIPS)',
       'Consolidtated City Code (FIPS)',
       'Area Name (including legal/statistical area description)'],
      dtype='object')

In [17]:
state_county_clean = state_county.loc[(state_county['County Subdivision Code (FIPS)'] == 0) & 
                                      (state_county['Place Code (FIPS)'] == 0) & 
                                      (state_county['Consolidtated City Code (FIPS)'] == 0)]

state_county_clean

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
0,40,1,0,0,0,0,Alabama
1,50,1,1,0,0,0,Autauga County
2,50,1,3,0,0,0,Baldwin County
3,50,1,5,0,0,0,Barbour County
4,50,1,7,0,0,0,Bibb County
...,...,...,...,...,...,...,...
43904,50,72,145,0,0,0,Vega Baja Municipio
43905,50,72,147,0,0,0,Vieques Municipio
43906,50,72,149,0,0,0,Villalba Municipio
43907,50,72,151,0,0,0,Yabucoa Municipio
43908,50,72,153,0,0,0,Yauco Municipio

In [16]:
state_clean = state_county.loc[(state_county['County Code (FIPS)'] == 0) & 
                               (state_county['County Subdivision Code (FIPS)'] == 0) & 
                               (state_county['Place Code (FIPS)'] == 0) & 
                               (state_county['Consolidtated City Code (FIPS)'] == 0)]

state_clean

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
0,40,1,0,0,0,0,Alabama
529,40,2,0,0,0,0,Alaska
707,40,4,0,0,0,0,Arizona
814,40,5,0,0,0,0,Arkansas
1391,40,6,0,0,0,0,California
1932,40,8,0,0,0,0,Colorado
2268,40,9,0,0,0,0,Connecticut
2477,40,10,0,0,0,0,Delaware
2538,40,11,0,0,0,0,District of Columbia
2541,40,12,0,0,0,0,Florida
3021,40,13,0,0,0,0,Georgia
3721,40,15,0,0,0,0,Hawaii
3728,40,16,0,0,0,0,Idaho
3973,40,17,0,0,0,0,Illinois
6808,40,18,0,0,0,0,Indiana
8479,40,19,0,0,0,0,Iowa
9523,40,20,0,0,0,0,Kansas
11732,40,21,0,0,0,0,Kentucky
12270,40,22,0,0,0,0,Louisiana
12639,40,23,0,0,0,0,Maine
13211,40,24,0,0,0,0,Maryland
13393,40,25,0,0,0,0,Massachusetts
13812,40,26,0,0,0,0,Michigan
15967,40,27,0,0,0,0,Minnesota
19582,40,28,0,0,0,0,Mississippi
19963,40,29,0,0,0,0,Missouri
21324,40,30,0,0,0,0,Montana
21511,40,31,0,0,0,0,Nebraska
22574,40,32,0,0,0,0,Nevada
22611,40,33,0,0,0,0,New Hampshire
22894,40,34,0,0,0,0,New Jersey
23805,40,35,0,0,0,0,New Mexico
23944,40,36,0,0,0,0,New York
25620,40,37,0,0,0,0,North Carolina
26273,40,38,0,0,0,0,North Dakota
28413,40,39,0,0,0,0,Ohio
31035,40,40,0,0,0,0,Oklahoma
31702,40,41,0,0,0,0,Oregon
31980,40,42,0,0,0,0,Pennsylvania
35632,40,44,0,0,0,0,Rhode Island
35685,40,45,0,0,0,0,South Carolina
36002,40,46,0,0,0,0,South Dakota
37644,40,47,0,0,0,0,Tennessee
38086,40,48,0,0,0,0,Texas
39558,40,49,0,0,0,0,Utah
39835,40,50,0,0,0,0,Vermont
40147,40,51,0,0,0,0,Virginia
40509,40,53,0,0,0,0,Washington
40830,40,54,0,0,0,0,West Virginia
41118,40,55,0,0,0,0,Wisconsin
43707,40,56,0,0,0,0,Wyoming
43830,40,72,0,0,0,0,Puerto Rico

In [18]:
county_clean = state_county.loc[(state_county['County Code (FIPS)'] > 0) & 
                                (state_county['County Subdivision Code (FIPS)'] == 0) & 
                                (state_county['Place Code (FIPS)'] == 0) & 
                                (state_county['Consolidtated City Code (FIPS)'] == 0)]

county_clean

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
1,50,1,1,0,0,0,Autauga County
2,50,1,3,0,0,0,Baldwin County
3,50,1,5,0,0,0,Barbour County
4,50,1,7,0,0,0,Bibb County
5,50,1,9,0,0,0,Blount County
...,...,...,...,...,...,...,...
43904,50,72,145,0,0,0,Vega Baja Municipio
43905,50,72,147,0,0,0,Vieques Municipio
43906,50,72,149,0,0,0,Villalba Municipio
43907,50,72,151,0,0,0,Yabucoa Municipio
43908,50,72,153,0,0,0,Yauco Municipio

In [45]:
# for index, row in county_clean.iterrows():
#     state_code = row['State Code (FIPS)']
#     county_code = row['County Code (FIPS)']

In [31]:
income_df = pd.read_csv("https://raw.githubusercontent.com/gkmatt29/ETL-Enthusiasts/master/Resources/household_median_income_2017.csv")

median_hhi_2017_state = income_df[["State", "2017"]]

median_hhi_2017_state.columns = ['State', 'Median HHI']

median_hhi_2017_state["Year"] = 2017

median_hhi_2017_state

median_hhi_2017_state.to_csv('median_hhi_2017_state.csv')

/Users/richagautam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [68]:
income_counties_df = pd.read_csv("median_hhi_counties.csv")

income_counties_df.columns = income_counties_df.iloc[0]

income_counties_df = income_counties_df.iloc[1:]

income_counties_df = income_counties_df.set_index('id')

income_counties_df = income_counties_df.filter(regex="Median household income")

income_counties_df = income_counties_df.filter(regex="Estimate!!")

income_counties_df = income_counties_df.reset_index()

income_counties_df.columns = ["id", "Median HHI", "Median HHI Perc"]

income_counties_df = income_counties_df[['id', 'Median HHI']]

income_counties_df

                  id Median HHI
0     0500000US01001      58786
1     0500000US01003      55962
2     0500000US01005      34186
3     0500000US01007      45340
4     0500000US01009      48695
...              ...        ...
6392  0500000US72145      19096
6393  0500000US72147      15539
6394  0500000US72149      19855
6395  0500000US72151      16013
6396  0500000US72153      14954

[6397 rows x 2 columns]

In [73]:
income_counties_df['state_code'] = income_counties_df.id.str[9:11]
income_counties_df

                  id Median HHI state_code county_code
0     0500000US01001      58786         01          01
1     0500000US01003      55962         01          03
2     0500000US01005      34186         01          05
3     0500000US01007      45340         01          07
4     0500000US01009      48695         01          09
...              ...        ...        ...         ...
6392  0500000US72145      19096         72          45
6393  0500000US72147      15539         72          47
6394  0500000US72149      19855         72          49
6395  0500000US72151      16013         72          51
6396  0500000US72153      14954         72          53

[6397 rows x 4 columns]

In [74]:
income_counties_df['county_code'] = income_counties_df.id.str[11:14]
income_counties_df

                  id Median HHI state_code county_code
0     0500000US01001      58786         01         001
1     0500000US01003      55962         01         003
2     0500000US01005      34186         01         005
3     0500000US01007      45340         01         007
4     0500000US01009      48695         01         009
...              ...        ...        ...         ...
6392  0500000US72145      19096         72         145
6393  0500000US72147      15539         72         147
6394  0500000US72149      19855         72         149
6395  0500000US72151      16013         72         151
6396  0500000US72153      14954         72         153

[6397 rows x 4 columns]

In [79]:
income_counties_df = income_counties_df.astype({"state_code": int, "county_code": int})
income_counties_df.to_csv("median_hhi_counties.csv")

income_counties_df

                  id Median HHI  state_code  county_code
0     0500000US01001      58786           1            1
1     0500000US01003      55962           1            3
2     0500000US01005      34186           1            5
3     0500000US01007      45340           1            7
4     0500000US01009      48695           1            9
...              ...        ...         ...          ...
6392  0500000US72145      19096          72          145
6393  0500000US72147      15539          72          147
6394  0500000US72149      19855          72          149
6395  0500000US72151      16013          72          151
6396  0500000US72153      14954          72          153

[6397 rows x 4 columns]