In [1]:
import pandas as pd

In [21]:
state_code = pd.read_csv("Resources/state_code.csv")

In [22]:
diversity = pd.read_csv("Resources/diversityindex.csv")

In [23]:
code_df = state_code[["Code","State"]]
code_df.head()

  Code       State
0   AL     Alabama
1   AK      Alaska
2   AZ     Arizona
3   AR    Arkansas
4   CA  California

In [26]:
diversity.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [27]:
diversity.columns

Index(['Location', 'Diversity-Index',
       'Black or African American alone, percent, 2013',
       'American Indian and Alaska Native alone, percent, 2013',
       'Asian alone, percent, 2013',
       'Native Hawaiian and Other Pacific Islander alone, percent,',
       'Two or More Races, percent, 2013', 'Hispanic or Latino, percent, 2013',
       'White alone, not Hispanic or Latino, percent, 2013'],
      dtype='object')

In [28]:
diversity = diversity.rename(columns = {"Black or African American alone, percent, 2013":"BLK_Percent",
                                        "American Indian and Alaska Native alone, percent, 2013" : "Amrican_indian/Alk_native_Percent",
                                        "Asian alone, percent, 2013":"Asian_percent",
                                        "Native Hawaiian and Other Pacific Islander alone, percent,":"Hawaiian/Pacific_Islander_Percent",
                                        "Two or More Races, percent, 2013":"Two_or_more_percent",
                                        "Hispanic or Latino, percent, 2013":"His/Latino_Percent",
                                        "White alone, not Hispanic or Latino, percent, 2013":"white_percent"
                                       })
diversity.head()

,Location,Diversity-Index,BLK_Percent,Amrican_indian/Alk_native_Percent,Asian_percent,Hawaiian/Pacific_Islander_Percent,Two_or_more_percent,His/Latino_Percent,white_percent
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [29]:
diversity[["County","Code"]] = diversity["Location"].str.split("," , n = 1, expand = True)
diversity = diversity.drop(["Location"], axis=1)
diversity.head()

,Diversity-Index,BLK_Percent,Amrican_indian/Alk_native_Percent,Asian_percent,Hawaiian/Pacific_Islander_Percent,Two_or_more_percent,His/Latino_Percent,white_percent,County,Code
0,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [30]:
diversity = diversity.assign(Year='2013')
diversity.head()

,Diversity-Index,BLK_Percent,Amrican_indian/Alk_native_Percent,Asian_percent,Hawaiian/Pacific_Islander_Percent,Two_or_more_percent,His/Latino_Percent,white_percent,County,Code,Year
0,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK,2013
1,0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY,2013
2,0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI,2013
3,0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA,2013
4,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK,2013

In [40]:
diversity.Code = diversity.Code.str.replace(' ', '')

In [41]:
diversity["Code"].unique()

array(['AK', 'NY', 'HI', 'CA', 'TX', None, 'NC', 'GA', 'VA', 'MD', 'IL',
       'NJ', 'KS', 'FL', 'NV', 'MA', 'PA', 'NM', 'OK', 'WI', 'SC', 'DC',
       'AZ', 'LA', 'CO', 'IN', 'MS', 'MI', 'NE', 'MN', 'AR', 'TN', 'MO',
       'DE', 'WA', 'AL', 'OR', 'UT', 'SD', 'OH', 'CT', 'MT', 'ND', 'ID',
       'IA', 'RI', 'KY', 'WY', 'WV', 'NH', 'VT', 'ME'], dtype=object)

In [11]:
code_df["Code"].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [43]:
merged_df = pd.merge(diversity,code_df, how = "left", on="Code")
merged_df

,Diversity-Index,BLK_Percent,Amrican_indian/Alk_native_Percent,Asian_percent,Hawaiian/Pacific_Islander_Percent,Two_or_more_percent,His/Latino_Percent,white_percent,County,Code,Year,State
0,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK,2013,Alaska
1,0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY,2013,New York
2,0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI,2013,Hawaii
3,0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA,2013,California
4,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK,2013,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,0.037540,0.3,0.2,0.1,0.0,0.7,0.6,98.1,Osage County,MO,2013,Missouri
3191,0.035585,0.2,0.1,0.1,0.0,0.7,0.6,98.2,Lincoln County,WV,2013,West Virginia
3192,0.035581,0.4,0.1,0.2,0.0,0.7,0.5,98.2,Leslie County,KY,2013,Kentucky
3193,0.023784,0.2,0.0,0.0,0.0,0.8,0.2,98.8,Blaine County,NE,2013,Nebraska
3194,0.021816,0.0,0.1,0.1,0.0,0.6,0.5,98.9,Keya Paha County,NE,2013,Nebraska